<section id="widgets_section">
  <div class="row" id="widgets">
    <div class="column col-md-4">
      <%= render_widget :weather %>
    </div>
    <div class="column col-md-4">
      <%= render_widget :weather %>
    </div>
    <div class="column col-md-4">
      <%= render_widget :weather %>
    </div>
    <div class="column col-md-4">
      <%= render_widget :weather %>
    </div>
  </div>
</section>