<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="contact">
        <h2><%= t('contact.header_text') %></h2>
        <p>
          
        </p>
      </div>
    </div>
  </div>
</div>