<div id="show-dashboard-users" class="dashboard-users">
  <h1 class="main-header">Here is a list of all users of this dashboard</h1>
  <ul id="page-1" class="dashboard-user-list">
    <%= @owner.visible_name %>
    <% for user in @users %>
    <li><%= user.visible_name %></li>
    <% end %>
  </ul>
</div>