<div id="show-dashboard-users" class="dashboard-users">
  <h1 class="main-header"><%= t('.main_header') %></h1>
  <h2 class="second-header"><%= t('.second_header')%><%= @owner.visible_name %></h2>
  <ul id="page-1" class="dashboard-user-list">
    
    <% for user in @users %>
    <li><%= user.visible_name %></li>
    <% end %>
  </ul>
</div>