<div id="show-labs" class="dashboard-lab">
  <h1 class="main-header"><%= t('.main-header') %></h1>

  <section id="list-of-labs">
    <div class="container-fluid">
      <div class="row">
        <% count_labs = 0 %>
        <% @labs.each do |lab| %>
          <div class="col-md-3 lab">
            <div class="bg-color">
              <%= lab.id %>
              <%= lab.name %>
            </div>
          </div>
          <% count_labs = count_labs+1 %>
          <% if count_labs % 4 == 0 %>
            </div>
            <div class="row">
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>