<% m = Laboratory %>
<div id="show-labs" class="dashboard-lab">
  <h1 class="main-header"><%= t('.main-header') %></h1>

  <section id="list-of-labs">
    <div class="container-fluid">
      <div class="row">
        <% count_labs = 0 %>
        <% @labs.each do |lab| %>
          <div class="col-md-3 lab">
            <div class="bg-color">
              <div class="row">
                <%= m.human_attribute_name(:id).to_s + ': ' + lab.id.to_s %>
              </div>
              <div class="row">
                <%= m.human_attribute_name(:name) + ': ' + lab.name.to_s %>
              </div>
              <div class="row">
                <%= Workstation.model_name.human(count: 2) + ': ' + lab.workstations.count.to_s %>
              </div>
            </div>
          </div>
          <% count_labs = count_labs+1 %>
          <% if count_labs % 4 == 0 %>
            </div>
            <div class="row">
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>