/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 *= require jquery.modal
 *= require easy-autocomplete.min
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require select-multiple
 */

@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Roboto:400,700,500|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700|Raleway:300);

@import "bootstrap";

ul {list-style:none;}

.turbolinks-progress-bar {
  visibility:hidden;
  color:rgba(200,200,1,1);
}

.modal {
  position:relative !important;
  margin: 0 auto;
  width: auto !important;
  background: transparent !important;
}

#activity-popup-dialog-body::-webkit-scrollbar-track,
.DMActivity::-webkit-scrollbar-track,
.ThreadedPermalinkOverlay-replies::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.26)!important;
}
#activity-popup-dialog-body::-webkit-scrollbar-thumb,
.DMActivity::-webkit-scrollbar-thumb,
.ThreadedPermalinkOverlay-replies::-webkit-scrollbar-thumb {
    background-color: #B6B4B7!important;
    min-height: 50px;
    border-radius: 2px;
}
#activity-popup-dialog-body::-webkit-scrollbar,
.DMActivity::-webkit-scrollbar,
.ThreadedPermalinkOverlay-replies::-webkit-scrollbar {
    width: 8px!important;
}
body::-webkit-scrollbar {
    width: 12.5px!important;
}
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.22) url(https://pbs.twimg.com/media/CKecQtCWoAA8keI.png)!important;
    border-radius: 8px!important;
}
body::-webkit-scrollbar-thumb {
    background-color: #495E8F!important;
    background-image: -webkit-linear-gradient(294deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    min-height: 50px;
    border-radius: 5px!important;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5)!important;
}
*::-moz-selection {
    background: #939393;
    color: #111;
}

label {margin-bottom:0px !important;}