@mixin transition() {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

$color_header_title: rgba(40,171,227,1);
$color_header_person_info: rgba(249,249,249,1);

.body-dashboard {
  background:none !important;
  
  .hide {display:none;}
  
  #header {
    background:none !important;
    
    .db-background-buliding {
      background-color: $color_header_title;
      border-bottom:2px solid rgba(45,45,52,1);
      padding-bottom: 2px;
      
      p {
        font-size:12px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
      }
    }
    
    .db-background-person {
      background-color: $color_header_person_info;
      border-bottom:2px solid rgba(201,202,207,1);
      min-height:50px;
      
      p.user-show-name {
        color:rgba(71, 67, 67, 0.9);
        
        span.permission {
          color: $color_header_title;
          font-size: 9px;
        }
      }
      
      p.user-show-logout {
        color:rgba(71, 67, 67, 0.9);
        a {
          color:rgba(71, 67, 67, 0.9);
          @include transition;
        }
       
        a:hover {
          background:none;
          color:$color_header_title;
          text-decoration:none;
          @include transition;
        }
      }
      
      p.user-show-last-login {
        color:rgba(71, 67, 67, 0.9);
         
        span.date, span.ip {color: $color_header_title}
      }
    }
    
    .language {
      margin-right:10px;
      
      ul {
        min-width:36px;
        
        li {margin: 2px 5px;}
      }
      
      .user-show-lang {
        padding-right: 10px;
        color:rgba(71, 67, 67, 0.9);
      }
      
      .current-lang {
        list-style:none; 
        margin: 8px auto 0px;
      }
      
      .flag {
        width: 32px;
        height: 32px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid #AFADAD;
        padding:0px;
      }
      
      #en {background-image:asset-url('flags/en_flag.png');}
      #pl {background-image:asset-url('flags/pl_flag.png');}
    }
  }
  
  #content {
    margin-top: 0px;
    
    .db-background-menu {
      background-color:rgba(50, 50, 58, 1);
      padding: 0px;
      
      #dashboard_menu_list {
        padding: 0px;
        
        li {
          border-bottom:1px solid rgba(60, 60, 68, 1);
          padding:5px 0px;
          
          &.active {
            background-color:rgba(0, 0, 0, 1);
            
            a {color:rgba(40, 171, 227, 1)}
          }
          
          a {
            font-size:16px;
            color:rgba(174, 178, 183, 1);
            text-align: center;
            
            &:hover, &:focus {
              background-color:transparent !important;
            }
            
            i {
              margin-left: -20px;
              
              &:before {
                margin-right:10px;
              }
            }
          }
        }
      }
    }
  }
}

#widgets {
  .column {
    
  }
}