@mixin transition() {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

$color_header_title: rgba(40,171,227,1);
$color_header_person_info: rgba(249,249,249,1);

.body-dashboard {
  background:none !important;

  .hide {display:none;}
  
  #header {
    background:none !important;
    
    .db-background-buliding {
      background-color: $color_header_title;
      border-bottom:2px solid rgba(45,45,52,1);
      padding-bottom: 2px;
      
      p {
        font-size:12px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin:0px;
        padding:15px 0px;
      }
    }
    
    .avatar-img {
      float: left;
      width: 38px;
      height: 38px;
      margin-top: 5px;
    }
    
    .db-background-person {
      background-color: $color_header_person_info;
      border-bottom:2px solid rgba(201,202,207,1);
      min-height:50px;
      
      p {margin:0px; padding:15px 10px !important;}
      
      p.user-show-name {
        color:rgba(71, 67, 67, 0.9);
        
        span.permission {
          color: $color_header_title;
          font-size: 9px;
        }
      }
      
      p.user-show-logout {
        color:rgba(71, 67, 67, 0.9);
        a {
          color:rgba(71, 67, 67, 0.9);
          @include transition;
        }
       
        a:hover {
          background:none;
          color:$color_header_title;
          text-decoration:none;
          @include transition;
        }
      }
      
      p.user-show-last-login {
        color:rgba(71, 67, 67, 0.9);
         
        span.date, span.ip {color: $color_header_title}
      }
    }
    
    .language {
      margin-right:10px;
      
      ul {
        min-width:36px;
        
        li {margin: 2px 5px;}
      }
      
      .user-show-lang {
        padding-right: 10px;
        color:rgba(71, 67, 67, 0.9);
      }
      
      .current-lang {
        list-style:none; 
        margin: 8px auto 0px;
      }
      
      .flag {
        width: 32px;
        height: 32px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid #AFADAD;
        padding:0px;
        
        &:after {display:none;}
      }
      
      #lang_en {background-image:asset-url('flags/en_flag.png');}
      #lang_pl {background-image:asset-url('flags/pl_flag.png');}
    }
  }
  
  #content {
    .db-background-menu {
      background-color:rgba(50, 50, 58, 1);
      padding: 0px;
      position: fixed;
      
      #dashboard_menu_list {
        padding: 0px;
        
        li {
          border-bottom:1px solid rgba(60, 60, 68, 1);
          padding:5px 0px;
          @include transition;
          
          span.left-menu-item-font {
            font-family: 'Roboto', sans-serif;
            font-size:15px;
          }
          
         > ul {
            padding-left:0px;
            margin-bottom: -5px;
             li {
               border-bottom:none;
               list-style:none;
               padding-left: 10%;

               button {background-color:transparent;}
             }
           }
             
          &.deactive {background-color:rgba(50, 50, 58, 1);}
          
          &.active {
            background-color:rgba(255, 255, 255, 1);
            a {color:rgba(40, 171, 227, 1)}
            
            button {
              background-color:transparent;
              color:rgba(40, 171, 227, 1);
            }
            
            &:hover {
              background-color:rgba(255, 255, 255, 1);
            }
          }
          
          &:hover {
            @include transition;
            background-color: rgba(0, 0, 0, 0.25);
            
            button {
              background-color:transparent;
              color:rgba(40, 171, 227, 1);
            }
            
            > ul {
              > li {
                background-color:transparent;
                @include transition;
                
                &:hover {
                  background-color:rgba(29, 29, 32, 1) !important;
                  @include transition;
                }
                
                > button {
                  background-color:transparent;
                  color:rgba(174, 178, 183, 1);
                  
                  &:hover {color:rgba(40, 171, 227, 1);}
                }
              }
            }
          }
          
          button {
            margin-left:5px;
            padding:10px;
            border:none;
            background-color:rgba(50, 50, 58, 1);
            width: 96%;
            text-align: left;
          }
          
          a, button {
            font-size:16px;
            color:rgba(174, 178, 183, 1);
            
            &:hover, &:focus {
              background-color:transparent !important;
              color:rgba(40, 171, 227, 1)
            }
            
            i {
              margin-left: 10px;
              
              &.fa-dashboard-menu-dropdown {
                right: 0;
                position: absolute;
              }
              
              &:before {margin-right:10px;}
            }
          }
        }
      }
    }
  }
}

#widgets {
  h1 {font-size:1.5rem !important;}
  
  .column {
    margin:5px 0px;
    
    .portlet {
      .portlet-header {
        > span {float:right;}
      }
    }
    
    #portlet-weather {
      background: none !important;
      background-color:rgba(200, 30, 10, 1) !important;
      border:none !important;
      
      &:hover {background-color:rgba(0,0,0,1) !important;}
      
      > .portlet-header {
        background-color:rgba(200, 30, 10, 1) !important;
        padding:5px;
        
        &:hover {background-color:rgba(0,0,0,1) !important;}
      }
    }
  }
}

@media (max-width:350px) {
  .language {float:left !important;}
  p.user-show-last-login {
    margin-top:-10px !important;
    span.date {
      margin-right:30% !important;
    }
  }
}