// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color_white: rgba(255,255,255,1);
$color_header_home_page: #005b7f;

body {
    #header {
        background-color:$color_header_home_page;
        
        .navbar {margin-bottom:0px !important;}
        
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin-bottom: 0px;
            padding: 16px;
            color: $color_white;
        }
    }
}