// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$url_1: asset-url('background.jpg');
$color_white: rgba(255,255,255,1);
$color_header_home_page: #005b7f;
$blue: #5D92BA;

@mixin transition() {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

@mixin placeholder($color: $placeholder-text) {
  &:-moz-placeholder {
    color: $color;
  }
  
  &:-ms-input-placeholder {
    color: $color;
  }
  
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

body {
  background-image: $url_1;
  background-position-y: -35px;
  background-size: cover;
  
  .center-text {text-align: center;}
  
  a:focus, button:focus {outline: none !important;}
  
  #header {
        background-color: $color_header_home_page;
        
        .navbar {
            margin-bottom: 0px !important;
            border: none !important;
            
            ul {
                li {
                    a {
                        font-family: 'Roboto', sans-serif;
                        color: rgba(255,255,255,1);
                        @include transition;
                        
                        &:hover, &:focus {
                            background-color: rgba(255, 255, 255, 0.25);
                            color: rgb(255, 255, 255) !important;
                            box-shadow: none !important;
                            @include transition;
                        }
                    }
                    
                    button.select_lang {
                        padding: 14px;
                        border-radius: 0px;
                        background-color: rgb(0, 146, 203);
                        color: rgba(255,255,255,1);
                        text-transform: uppercase;
                    }
                    
                    &.active {
                        a {
                            background-color:#0179A9;
                        }
                    }
                    
                    &.login {
                        a {
                            background-color: #1A7B1A;
                        }
                    }
                }
                
                &.select_lang_list {
                    padding: 0px !important;
                    min-width: 60px !important;
                    
                    li {
                        a {
                            border-radius: 0px; 
                            text-transform: uppercase;
                            padding: 5px 14px;
                            
                            &:hover, &:focus {
                                background-color: #3DA3CB;
                                background-image: none;
                            }
                        }
                        
                        &.btn-primary.active {
                            background-color: #0092CB !important;
                            
                            &:hover, &:focus {
                                background-color: #3DA3CB;
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
        
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin-bottom: 0px;
            padding: 15px;
            color: $color_white;
        }
    }
    
    #log_in {
        .modal-content {
            background-color: #247c9f;
            
            h1 {
                margin-top: 0px;
                text-align: center;
            }
            
            .login {
                padding: 10px 10px 75px 10px;
                
                .input-group {
                    width: 100%;
                }
            }
            
            .login-heading{
              font: 1.8em/48px 'Roboto', sans-serif;;
              color: white;
            }
            
            .input-txt{
              width: 100%;
              padding: 20px 10px;
              background: #18546C;
              border: none;
              font-size: 1em;
              color: white;
              border-bottom: 1px solid rgb(36, 124, 159);
              @include box-sizing(border-box);
              @include placeholder(lighten($blue, 10%));
              //@include transition(background-color .5s ease-in-out);
                &:focus{
                    background-color: #35B8EB;
                }
            }
            .login-footer{
              margin: 10px 0;
              overflow: hidden;
              float: left;
              width: 100%;
            }
            .btn{
              padding: 15px 30px;
              border: none;
              background: white;
              color: $blue;
              border-radius: 0px;
            }
            .btn--right {
              float: right;
            }
            .icon {display: inline-block;}
            .icon--min {font-size: .9em;}
            .lnk {
              font-size: .8em;
              line-height: 3em;
              color: white;
              text-decoration: none;
            }
        }
    }
    
    #content {
        margin-top: 50px;
        
        .about, .galery, .contact {
            padding: 5px 15px;
            background-color: rgba(255,255,255,0.8);
            margin-top: 100px;
            
            h2 {
                font-family: 'Roboto', sans-serif;
                text-shadow: 1px 1px black;
                color: #005b7f;
                
            }
            
            p {
                font-family: 'Open Sans', sans-serif;
                color: #005b7f;
            }
        }
    }
  
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 91, 127);
    
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            margin-bottom: 0px;
            padding: 10px;
            color: $color_white;
            font-size: 12px;
            
            a {
                color:$color_white;
                @include transition();
                padding: 3px;
                
                &:hover, &:focus {
                    color: #0ED1E6;
                    text-decoration:none;
                    @include transition();
                }
            }
            
            &.center-height {
                margin-top: 10px;
            }
        }
    }
}
