<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 db-background-title">
      <div class="dashboard_top">
        <p class="dash-title-top"><%= t('.title') %></p>
      </div>
    </div>
    <div class="col-md-10 db-background-person">
        <p class="user-show-name pull-left"><%= @current_user.visible_name %></p>
        <% if current_user %>
          <p class="user-show-name pull-right"><%= link_to t('.logout'), logout_path, method: 'delete' %></p>
        <% end %>
    </div>
  </div>
</div>