<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 db-background-title">
      <div class="dashboard_top">
        <p class="dash-title-top"><%= t('dashboard.header.title') %></p>
      </div>
    </div>
    <div class="col-md-10 db-background-person">
      
    </div>
  </div>
</div>