<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p>Copyright &copy; <%= Time.now.year %> - Inwentarz Sprzętu Komputerowego</p>
        </div>
        <div class="col-md-2">
            <p class="center-text">Wersja: 0.0.1</p>
        </div>
        <div class="col-md-5">
            <p class="center-text">Autorzy: <%= link_to 'Rodzyn', 'http://rodzyn.pl', target: "_blank" %>, <%= link_to 'Lucas Levvy', 'https://github.com/Levvy055', target: "_blank" %></p>
        </div>
    </div>
</div>